.uploadDefaultText {
  position: absolute;
  left: 0;
  top: 0;
  color: red;
  font-size: 12px;
}

/deep/ .detail-dialog {
  .el-dialog {
    width: 860px !important;
  }

  .detail-left {
    width: 350px;
  }

  .detail-right {
    width: 600px;
  }
}
.projectlist-dialog-smtitle{
  position: absolute;
  top: 10px;
  left: 98px;
}
/deep/ .dialog-info {
  .el-dialog {
    width: 770px;

    .el-input-group {
      width: 98%;
    }

    .el-dialog__body {
      padding: 0;

      .el-tabs--border-card {
        border: none;
        box-shadow: none;

        >.el-tabs__header {
          // margin-top: 10px;
          background-color: #e8e8ee;
          border: none;
          height: 40px;

          .el-tabs__item {
            margin: 0;
            border: none;
            transition: 0s;
            color: #333;

            &.is-active {
              border-top: 2px solid #fda100;
              background-color: #fff;
              color: #333;
            }
          }
        }

        >.el-tabs__content {
          .form-row-info {
            .protactInfo {
              .el-form-item__label {
                padding-left: 15px !important;
              }
            }

            &:first-of-type {
              .el-form-item__content {
                width: 100%;

                .el-radio-group {
                  width: 100%;

                  .el-radio {
                    min-width: 16%;
                  }
                }
              }
            }

            &:last-of-type {
              .info-content {

                .el-form-item:nth-of-type(9),
                .el-form-item:nth-of-type(10),
                .el-form-item:nth-of-type(12) {
                  .el-form-item__content {
                    width: 100%;

                    .el-radio-group {
                      width: 100%;

                      .el-radio {
                        min-width: 25%;
                      }
                    }
                  }
                }

                .el-form-item:nth-of-type(9) {
                  padding-top: 10px;
                  box-sizing: border-box;

                  .el-radio {
                    margin-bottom: 20px;
                  }
                }

                .el-form-item:nth-of-type(14) {
                  .el-form-item__content {
                    width: 100%;

                    .el-checkbox-group {
                      width: 100%;

                      .el-checkbox {
                        margin-right: 0;
                      }
                    }
                  }
                }
              }
            }

            .el-radio {
              margin-left: 0;
            }

            .info-content {
              border: none;
              padding-top: 0;
            }
          }
        }
      }
    }

    .el-dialog__footer {
      text-align: center;
      padding-bottom: 0;
    }
  }

  .el-tab-pane.protection-time {
    .form-row-info {
      border: none;
    }

    .el-form-item__label {
      margin-right: 10px;
    }
  }

  .el-checkbox {
    // margin-left: 105px;
    font-weight: 700;
    color: #666;

    .el-checkbox__inner {
      width: 18px;
      height: 18px;
      border-color: #bbb;
    }

    .el-checkbox__label {
      font-weight: normal;
    }
  }

  .el-checkbox__inner::after {
    left: 7px;
    top: 4px;
  }

  .el-checkbox-group {
    width: 100%;

    .el-checkbox {
      width: 25%;
      margin-left: 0;
      color: #333;

      .el-checkbox__inner {
        width: 18px;
        height: 18px;
        border-color: #bbb;

        &::after {
          left: 7px;
          top: 4px;
        }
      }
    }
  }

  .el-radio__input.is-checked .el-radio__inner {
    border-color: #bbb !important;
    background-color: #fff !important;
  }

  .el-radio__inner {
    width: 18px;
    height: 18px;
    border-color: #bbb !important;
    background-color: #fff !important;

    &::after {
      background-color: #fda100;
      width: 10px;
      height: 10px;
    }
  }

  .el-input__inner,
  .el-textarea__inner {
    border: 1px solid #d0d0d0;
  }

  .el-radio__label {
    color: #333;
  }

  .el-form-item {
    margin-bottom: 0;
  }

  .el-form-item__label {
    color: #666;
  }

  .total-dialog-tool {
    height: 60px;
    background: #e6e6e9;
    color: #333344;
    font-weight: 700;

    >li {
      &:first-of-type {
        padding-left: 10px;
      }

      &:last-child {
        margin-top: 45px;

        .el-button {
          background-color: #fd8f00;
          border: none;
        }
      }

      >span {
        width: 100px;
      }
    }
  }

  .total-dialog-content {
    margin-top: 10px;

    >.hadUnsubscribeShow {
      color: #666;

      i {
        color: #f84949;
      }
    }
  }

  .el-button {
    margin-bottom: 45px;
  }
}

.form-row-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;

  >span {
    width: 80px;
    text-align: center;
    color: #333;
    font-weight: 700;
  }

  .info-content {
    position: relative;
    border-left: 1px solid #e4e4e4;
    padding: 20px 20px 10px 5px;
    flex: 1;

    /deep/ .el-form-item {
      display: flex;

      >label {
        min-width: 100px;
        max-width: 140px;
      }

      &__label {
        padding: 0;
      }
    }

    &.label-init {
      /deep/ .el-form-item {
        display: block;

        >label {
          min-width: 140px;
          text-align: right;
        }
      }
    }

    &.upload-info {
      display: flex;
    }
  }

  &:first-of-type {
    .info-content {
      /deep/ .el-form-item {
        display: flex;

        .el-form-item__content {
          width: 100%;

          .el-radio-group {
            width: 100%;

            .el-radio {
              min-width: 16%;
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  &.other-type {
    border: 0px;

    .info-content {
      /deep/ .el-form-item {
        display: flex;
      }
    }
  }

  &:nth-of-type(3) {
    .el-form-item {
      .el-col {
        &:first-child {
          float: left;
        }

        &:last-child {
          float: right;
        }
      }

      &:first-of-type {
        .el-col:nth-child(1) {
          margin-right: 53px;
        }
      }
    }
  }

  .el-checkbox {}

  &:nth-of-type(4) {
    .el-form-item__content {
      >.el-form-item {
        margin-left: 356px;
      }
    }
  }
}

/deep/ .map-location {
  display: flex;

  .el-form-item__content {
    position: relative;
  }
}

// /deep/ .project_address .el-form-item__content{
//   flex: 1!important;
// }
.a-coord {
  background-color: #f3f3f3;
  border-radius: 4px;
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  padding: 10px 20px;
}

.sell-form {
  .el-form {
    .el-form-item:nth-child(even) {
      float: right;

      &:nth-child(odd) {
        float: left;
      }
    }
  }
}

.contract-form.el-tab-pane {
  padding: 10px;
}

.collapse-view {
  display: flex;
  background-color: #fafafa;

  >li {
    flex: 1;
    align-self: center;
    text-align: left;
    padding: 10px 0 10px 20px;

    &:first-of-type {
      text-align: center;
    }

    >p {
      line-height: 2;
    }

    &.tip {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      >p {
        display: inline-block;
        border: 1px solid;
        line-height: 1.4;
        padding: 0 10px;

        &:nth-of-type(2) {
          margin-top: 10px;
        }
      }

      &-red {
        >p {
          width: 70px;
          line-height: 1.8;
          border-color: #fa7a58;
          color: #fa7a58;
          text-align: center;
        }
      }

      &-green {
        >p {
          border-color: #6baa53;
          color: #6baa53;
        }
      }
    }

    &.opera {
      >i {
        width: 80px;
        background-color: #719fd0;
        line-height: 1.8;
        text-align: center;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #ffffff;

        &:last-of-type {
          margin-top: 10px;
        }
      }
    }
  }
}

.card-footer {
  text-align: center;
}

.w-select {
  .el-form-item {
    margin-right: 18px;
  }
}

.detail-box {
  display: flex;
}

.detail-left {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e6e6e9;

  .detailleft-title {
    padding: 0 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    justify-content: space-between;

    .wordinfo {
      margin-top: 15px;
    }

    .btn-edit {
      width: 84px;
      height: 34px;
      background-color: #6d9dcf;
      border-radius: 3px;
      opacity: 0.97;
      border: 0;
      color: #fff;
      margin-top: 8px;

      &::before {
        margin-right: 5px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .detailleft-center,
  .detailleft-bottom {

    /*padding: 10px 9px 0 14px;*/
    ul>li {
      margin-bottom: 15px;
      display: flex;

      >span {
        color: #999;
        min-width: 88px;
      }
    }
  }

  .detailleft-center {
    .wordproject {
      display: block;
      margin-top: 36px;
    }

    ul>li:nth-child(2) {
      display: flex;

      span {
        width: 78px;
      }
    }
  }
}

.detail-right {
  flex: 1;

  .allot-person {
    >i {
      display: inline-block;
      width: 104px;
      background-color: #fd8f00;
      color: #ffffff;
      text-align: center;
      height: 30px;
      line-height: 30px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    .el-button {
      margin-bottom: 0;
    }
  }

  .el-table {
    border: 1px solid #d0d0d0;
  }

  .contract-message {
    >li {
      padding: 10px 0px;

      >label {
        display: inline-block;
        min-width: 100px;
        text-align: right;
        color: #999999;
      }
    }
  }
}

.total-dialog {
  &-tool {
    display: flex;

    >li {
      display: inherit;
      align-items: center;
      padding-right: 20px;

      >span {
        width: 80px;
      }
    }
  }

  &-content {
    background-color: #fffae7;
    padding: 10px;
    margin-bottom: 10px;

    >span {
      color: #f84949;
    }
  }
}

//图片上传
.upload-box {
  position: relative;

  .upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }
}

.upload-image-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 10px 0;

  >li {
    width: 100px;
    text-align: center;
    position: relative;
    margin-right: 20px;

    >img {
      width: 100%;
      height: 70%;
    }

    >span {
      display: inline-block;
      border: 1px solid #f2f2f2;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      padding: 0 10px;
      margin-top: 10px;
      line-height: 1.4;

      &:first-of-type {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        color: #ffffff;
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        margin: -15px -15px 0 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }

      &.cover-photo {
        border-color: #fd8f00;
        color: #fd8f00;
      }
    }
  }
}

.time-unit {
  position: relative;
  display: flex;

  &:after {
    content: '小时';
    display: block;
  }
}

/* 分配人员 */
.input-group {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 10px;

  >label {
    min-width: 80px;
    text-align: right;
    padding-right: 10px;

    &.input-group-target {
      &:before {
        content: '*';
        display: inline-block;
        color: red;
      }

    }
  }

  >input {
    flex: 1;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 2;
    padding: 0 10px;
  }

  .staff-search-list {
    position: absolute;
    top: 30px;
    left: 80px;
    right: 0;
    background: #ffffff;
    z-index: 99;
    height: 100px;
    overflow-y: scroll;

    >li {
      padding: 10px 10px 0;

      &:last-of-type {
        padding-bottom: 10px;
      }
    }
  }
}

.input-group-opera {
  text-align: center;

  >button {
    color: #ffffff;

    &:first-of-type {
      background-color: #fd8f00;
    }

    &:nth-of-type(2) {
      background-color: #a0a0a0;
    }
  }
}

/deep/ .project_address {
  .el-form-item__content {
    flex: .6;
  }
}

/deep/.project_intro {
  .el-textarea__inner {
    width: 473px;
  }
}

/* 图库 */
.gallery {
  &-tab {
    display: flex;

    >li {
      padding: 10px;
      margin-right: 10px;

      &.active {
        color: #fd8f00;
        position: relative;

        &:after {
          content: '';
          width: 100%;
          border-top: 4px solid #fd8f00;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }

  &-window {
    display: flex;
    margin-top: 10px;

    &-map {
      display: flex;
      margin-top: 10px;

      >li {
        width: 100px;
        display: inherit;
        align-items: center;
        margin-right: 20px;

        >img {
          width: 100%;
          height: 100%;
        }

        >p {
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, .6);
          position: absolute;

          >span {
            color: #ffffff;

            &:nth-of-type(2) {
              position: absolute;
              top: 0;
              right: 0;
              width: 30px;
              height: 30px;
              background-color: red;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              margin: -10px -10px 0 0;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &.cover-image-active {
            >span:first-of-type {
              color: red;
            }
          }
        }
      }
    }

    &-opera {
      width: 100px;
      height: 100px;
      background-color: #e7e7e7;
      display: flex;
      justify-content: center;
      align-items: center;

      >span {
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #a0a0a0;
        font-size: 24px;
        align-self: center;
        text-align: center;
        color: #b2b2b2;
      }
    }
  }
}

.phone_rule {
  .input-group {
    padding-bottom: 20px;
  }
}

.person-visible {
  /deep/ .el-dialog {
    min-width: 400px;
  }
}

.projectlist-confirm-del {
  .word-del-confirm {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;

    .el-icon-info {
      color: #5a9ef2;
      margin-right: 10px;
      margin-top: 3px;
    }
  }

  /deep/ .el-dialog__footer {
    text-align: center;
  }
}

/*.radio-list {
    display: flex;
    > span {
      min-width: 100px;
    }
  }
  .person-visible{
     /deep/.el-dialog{
      min-width: 300px;
    }
  }
  .input-group{
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    >label{
      min-width: 80px;
      text-align: right;
      padding-right: 10px;
      &.input-group-target{
        &:before{
          content: '*';
          display: inline-block;
          color: red;
        }
      }
    }
    .staff-search-list{
      position: absolute;
      top: 30px;
      left: 80px;
      right: 0;
      background: #ffffff;
      z-index: 99;
      height: 100px;
      overflow-y: scroll;
      >li{
        padding: 10px 10px 0;
        &:last-of-type{
          padding-bottom: 10px;
        }
      }
    }
  }
  .input-group-opera{
    text-align: center;
    >button{
      color: #ffffff;
      &:first-of-type{
        background-color: #fd8f00;
      }
      &:nth-of-type(2){
        background-color: #a0a0a0;
      }
    }
  }

  // === 公共的模态框确认取消按钮 ===
  .projectlist-btn-okCancel {
    display: flex;
    justify-content: center;
    padding-bottom: 26px;
    .el-button {
      width: 104px;
      height: 40px;
      border-radius: 5px;
      font-size: 16px;
      letter-spacing: 0px;
      color: #fff;
      &:first-child {
        margin-right: 38px;
      }
    }
    .el-button--primary {
      background: #fd8f00;
      border: #fd8f00;
    }
    .el-button--cancel {
      background: #a0a0a0;
    }
  }

  //  字体图标
  .org-icon {
    font-size: 15px;
    margin-right: 3px;
    line-height: 5px;
  }

  //  确认删除模态框
  .projectlist-confirm-del {
    .word-del-confirm {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      font-size: 15px;
      .el-icon-info {
        color: #6d9dcf;
        margin-right: 10px;
      }
    }
  }

  // 上传添加图片
  .projectlist-addimg {
    .el-upload-list {
      .el-upload-list__item {
        width: 98px;
        height: 70px;
      }
    }
    .el-upload--picture-card {
      position: relative;
      width: 98px;
      height: 70px;
      background-color: #e7e7e7;
      .el-icon-plus {
        position: absolute;
        top: 16px;
        left: 30px;
        width: 34px;
        height: 34px;
        background-color: #e7e7e7;
        border: solid 1px #a0a0a0;
        border-radius: 50%;
        &::before {
          position: absolute;
          top: 6px;
          left: 7px;
          font-size: 18px;
        }
      }
    }
  }

  #projectList {
    width: 100%;
    // ======= 公共的类 ======
    .el-form-item,
    .el-form-item__label,
    .el-input,
    .el-input__inner {
      !*height: 30px;*!
      &:focus {
        border-color: #fda100;
      }
    }
    .el-form-item {
      position: relative;
      .el-icon-arrow-up:before {
        content: "\E60C";
        color: #575757;
      }
    }
    // 验证表单 校验规则提示
    .el-form-item__error {
      line-height: 0;
      display: none;
    }
    .el-form-item__label {
      padding-right: 6px;
    }
    .a-coord {
      // 拾取坐标
      position: absolute;
      top: 5px;
      right: -82px;
      display: block;
      width: 77px;
      height: 30px;
      background-color: #f3f3f3;
      border-radius: 3px;
      border: solid 1px #d0d0d0;
      text-align: center;
      line-height: 30px;
    }
    .protection-day {
      position: absolute;
      top: 0;
      right: -19px;
    }
    //   小标题头
    .el-dialog__header {
      position: relative;
      height: 40px;
      background: #f3f3f3;
      .el-dialog__title {
        position: absolute;
        top: 11px;
        left: 12px;
        color: #333344;
      }
    }
    .projectlist-dialog-smtitle {
      position: absolute;
      top: 16px;
      left: 96px;
      font-size: 14px;
      color: #333344;
    }
    //  === 模态框 底部确定 取消 ===
    .el-dialog {
      .dialog-footer,
      .projectlist-btn-okCancel {
        display: flex;
        justify-content: center;
        margin-bottom: 20 ox;
        .el-button {
          width: 104px;
          height: 40px;
          border-radius: 5px;
          font-size: 16px;
          letter-spacing: 0px;
          color: #fff;
          &:first-child {
            margin-right: 38px;
          }
        }
        .el-button--primary {
          background: #fd8f00;
          border: #fd8f00;
        }
        .el-button--cancel {
          background: #a0a0a0;
        }
      }
    }
    // === 搜索表单 ===
    .demo-form-inline {
      background: #d7d7df;
      height: 111px;
      padding: 16px 0 0 27px;
      .el-form-item {
        margin-right: 35px;
        margin-bottom: 15px;
        .el-input,
        .el-input__inner {
          width: auto;
          min-width: 132px;
        }
        &:nth-child(7) {
          margin-right: 19px;
        }
        &:nth-child(8) {
          margin-right: 16px;
        }
        &:nth-child(9) {
          margin-right: 32px;
        }
        &:nth-child(10) {
          margin-right: 24px;
        }
        .el-button {
          height: 29px;
          line-height: 0px;
          margin-top: 7px;
          .el-button--primary {
            background: #72a0d1;
            border-color: #72a0d1;
          }
        }
      }
    }
    // 新增表单 模态框
    .add-dialog {
      background: transparent; // 去掉公共类 w-select背景色的影响
      .el-dialog {
        width: 769px;
        .el-dialog__body {
          padding: 0;
          .add-supplytype,
          .add-baseinfo,
          .add-protectiontime,
          .add-projectimg {
            display: flex;
            width: 100%;
            .addleft,
            .addright {
              height: 100%;
              width: 100%;
              padding-left: 19px;
              padding-top: 16px;
              border-bottom: 1px solid #e4e4e4;
              .el-form-item {
                margin-bottom: 7px;
                .el-input__suffix {
                  height: 40px;
                }
                .el-input__icon {
                  height: 0;
                }
              }
            }
            .addleft {
              width: 95px;
              border-right: 1px solid #e4e4e4;
              padding-left: 13px;
              padding-top: 27px;
            }
          }
          .add-supplytype {
            height: 96px;
            .addleft {
              .lefttitle {
                &::after {
                  content: "（必填）";
                  color: #f84949;
                }
              }
            }
          }
          .add-baseinfo {
            height: 350px;
            .addleft {
              .lefttitle {
                &::after {
                  content: "（必填）";
                  color: #f84949;
                }
              }
            }
            .addright {
              .el-form-item {
                // 项目名称
                &:first-child {
                  .el-input__inner {
                    width: 234px;
                  }
                }
                // 所属省 与 市
                &:nth-child(2),
                &:nth-child(3) {
                  .el-select,
                  .el-input__inner {
                    width: 104.5px;
                  }
                }
                &:nth-child(2) {
                  margin-right: 6px;
                }
                // 所属区域
                &:nth-child(4) {
                  .el-input__inner,
                  .el-select {
                    width: 235px;
                  }
                }
                &:nth-child(5) {
                  .el-input__inner,
                  .el-select {
                    width: 214px;
                  }
                }
                &:nth-child(6) {
                  //项目价格
                  position: relative;
                  margin-right: 320px;
                  .el-input__inner {
                    width: 151px;
                  }
                  &::after {
                    content: "\5143/\5E73\7C73"; //  元/平米
                    position: absolute;
                    top: 0px;
                    right: -52px;
                  }
                }
                &:nth-child(7) {
                  //项目地址
                  .el-input__inner {
                    width: 552px;
                  }
                }
                &:nth-child(8) {
                  //地图坐标
                  .el-input__inner {
                    width: 467px;
                  }
                  .a-coord {
                    top: 0;
                  }
                }
              }
            }
          }
          .add-protectiontime {
            height: 150px;
            .addleft {
              .lefttitle {
                display: block;
                width: 56px;
                &::after {
                  content: "（必填）";
                  color: #f84949;
                }
              }
            }
            .addright {
              .el-form-item {
                .el-input__inner {
                  width: 166px;
                }
                .el-select {
                  width: 166px;
                }
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6) {
                  margin-left: 30px;
                }
              }
            }
          }
          .add-projectimg {
            height: 145px;
            .addright {
              padding-bottom: 50px;
            }
          }
        }
      }
    }
    // 表格
    .el-table {
      font-size: 14px;
      // === 表格展开行 ===
      .demo-table-expand {
        .expand-one,
        .expand-two,
        .expand-three,
        .expand-four {
          display: flex;
        }
        .expand-one {
          .ep-oneleft {
            .expand-img {
              width: 98px;
              height: 70px;
              background: #d5d5d5;
            }
            flex: 1;
            margin-right: 30px;
          }
          .ep-oneright {
            flex: 3;
            display: flex;
            flex-direction: column;

            height: 70px;
            .spantop,
            .spanbottom {
              flex: 1;
              line-height: 35px;
            }
          }
        }
        .expand-two {
          .ep-twoleft,
          .ep-twoleftc,
          .ep-tworightc,
          .ep-tworight {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 70px;
            .spantop,
            .spanbottom {
              flex: 2;
              line-height: 35px;
            }
          }

          .ep-twoleft,
          .ep-tworight {
            .spantop,
            .spanbottom {
              width: 70px;
              height: 26px;
              line-height: 26px;
              border: solid 1px #fa7a58;
              text-align: center;
              font-size: 14px;
              color: #fa7a58;
            }
            .spantop {
              margin-bottom: 18px;
            }
          }
          .ep-tworight {
            .spantop,
            .spanbottom {
              border: 1px solid #6baa53;
              color: #6baa53;
            }
          }
        }
        .expand-three {
          .ep-threeleft,
          .ep-threeright {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
        .expand-four {
          flex-direction: column;
          .btn-edit,
          .btn-stat {
            flex: 1;
            width: 80px;
            height: 26px;
            border-radius: 3px;
            background: #719fd0;
            color: #fff;
            outline: none;
            cursor: pointer;
          }
          .btn-edit {
            margin-bottom: 12px;
          }
        }
      }
    }
    //展开行弹出 项目编辑模态框
    .edit-dialog {
      max-height: 912px;
      .el-form-item__label {
        width: 20px;
      }
      .el-dialog {
        width: 770px;
        .el-dialog__header {
          .el-dialog__headerbtn .el-dialog__close {
            position: absolute;
            right: -1px;
            top: -5px;
          }
        }
        .el-dialog__body {
          padding: 0;
          border: 0;
          box-shadow: none;

          .el-tabs--border-card {
            border: 0;
            box-shadow: none;
            .el-tabs__item {
              border: 0;
              border-top: 2px solid transparent;
              &:focus {
                border-top: 2px solid #fda100;
              }
            }
            .el-tabs__header {
              border: 0;
              background: #e8e8ee;
            }
          }
          // === 基础信息表单 ===
          .base-info {
            !*height: 638px;*!
            box-shadow: none;
            .el-form-item__label {
              width: 20px;
            }
            .el-form-item {
              margin-bottom: 6px;
              position: relative;
              .el-input__icon {
                line-height: 32px;
              }
            }
            .el-form-item:nth-child(1),
            .el-form-item:nth-child(2) {
              .el-radio {
                width: 60px;
              }
            }
            .el-form-item:nth-child(15),
            .el-form-item:nth-child(16),
            .el-form-item:nth-child(18) {
              .el-checkbox {
                width: 105px;
              }
            }
            .el-form-item:nth-child(19) {
              .el-checkbox {
                width: 106px;
              }
            }

            .el-form-item:nth-child(3) {
              // 项目编号
              position: relative;
              width: 390px;
              margin-left: 10px;
              &::before {
                content: "*";
                color: #f56c6c;
                position: absolute;
                top: 10px;
                left: -10px;
              }
            }
            .el-form-item:nth-child(5) {
              // 所属省
              margin-right: 2px;
              .el-select {
                width: 100px;
              }
            }
            .el-form-item:nth-child(6) {
              //  市
              margin-right: 20px;
              .el-select {
                width: 100px;
              }
            }
            .el-form-item:nth-child(7) {
              //所属区域
              margin-right: 6px;
            }
            .el-form-item:nth-child(7),
            .el-form-item:nth-child(8) {
              .el-select {
                width: 121px;
              }
            }
            .el-form-item:nth-child(9) {
              // 项目价格
              margin-right: 320px;
              .el-input__inner {
                width: 151px;
              }
              &::after {
                content: "\5143/\5E73\7C73"; //  元/平米
                position: absolute;
                top: 10px;
                right: -52px;
              }
            }
            .el-form-item:nth-child(10) {
              //项目地址
              .el-input__inner {
                width: 284px;
              }
            }
            .el-form-item:nth-child(11) {
              //地图坐标
              margin-left: 34px;
              .el-input__inner {
                width: 156px;
              }
            }
            .el-form-item:nth-child(12) {
              // 项目负责人
              .el-input__inner {
                width: 228px;
              }
            }
            .el-form-item:nth-child(13) {
              //负责人电话
              .el-input__inner {
                width: 240px;
              }
            }
            .el-form-item:nth-child(14) {
              //建筑类型
              position: relative;
              width: 700px;
              height: 50px;
              .el-radio-group {
                // 多选框组定位  不然无法成行显示
                position: relative;
                top: -16px;
                left: 80px;
                width: 636px;
                .el-radio {
                  margin-bottom: 10px;
                  width: 105px;
                  &:nth-child(5) {
                    width: 70px;
                  }
                  &:nth-child(6) {
                    margin-left: 0;
                  }
                }
              }
            }
            .el-form-item:nth-child(15) {
              // 楼盘性质
              .el-radio {
                width: 105px;
              }
            }
            .el-form-item:nth-child(16) {
              // 楼盘特色
              position: relative;
              width: 700px;
              height: 80px;
              .el-form-item__content {
                position: absolute;
                top: 0;
                left: 81px;
                .el-checkbox {
                  width: 105px;
                  &:nth-child(6) {
                    margin-left: 0;
                  }
                  &:nth-child(5),
                  &:nth-child(10) {
                    width: 60px;
                  }
                }
              }
            }
            //   是否上架
            .el-form-item:nth-child(17) {
              .el-radio {
                width: 105px;
              }
            }
            .el-form-item:nth-child(18) {
              // 基础设施
              position: relative;
              width: 700px;
              height: 100px;
              margin-bottom: 26px;
              .el-form-item__content {
                position: absolute;
                top: 0;
                left: 81px;
                .el-checkbox {
                  width: 105px;
                  &:nth-child(6),
                  &:nth-child(11) {
                    margin-left: 0;
                  }
                  &:nth-child(5),
                  &:nth-child(10) {
                    width: 60px;
                  }
                }
              }
            }
          }
          // === 销售信息表单 ===
          .sell-form {
            .el-form-item {
              margin-right: 0px;
              .el-form-item__label {
                letter-spacing: 1px;
              }
              &:nth-child(1),
              &:nth-child(3),
              &:nth-child(5) {
                width: 400px;
              }
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(6) {
                .el-form-item__label {
                  letter-spacing: 1.5px;
                }
              }
              .el-input__inner {
                width: 240px;
              }
              //   文本域
              &:nth-child(7) {
                height: 92px;
                .el-textarea__inner {
                  height: 92px;
                  width: 644px;
                }
              }
            }
          }
          // === 保护期表单 ===
          .protection-time {
            margin-bottom: 50px;
            .el-form-item {
              margin-right: 0px;
              .el-input__inner {
                width: 240px;
              }
              .el-input__icon {
                line-height: 0px;
              }
              &:nth-child(1),
              &:nth-child(3),
              &:nth-child(5) {
                width: 375px;
              }
              &:nth-child(3),
              &:nth-child(5),
              &:nth-child(6) {
                position: relative;
                .protection-day {
                  position: absolute;
                  top: 0;
                  right: -19px;
                }
              }
            }
          }
          // === 合同信息 ===
          .contract-form {
            .el-form-item {
              &:nth-child(2),
              &:nth-child(3) {
                margin-bottom: 10px;
              }
              &:nth-child(6) {
                height: 92px;
                .el-textarea__inner {
                  height: 70px;
                  width: 613px;
                }
              }
              .el-input__inner {
                width: 613px;
              }
            }
          }
        }
      }

    }
    // 展开弹出 项目统计模态框
    .statistics-dialog {
      .el-dialog {
        width: 770px;
        .el-dialog__body {
          padding: 0;
          .el-form {
            height: 58px;
            padding-top: 10px;
            background: #e6e6e9;
            .el-form-item {
              margin-right: 26px;
              .el-input__inner {
                width: 140px;
              }
              .el-input__suffix {
                height: 40px;
              }
              .searchStatistics {
                display: flex;
                justify-content: center;
                width: 57px;
                background-color: #fd8f00;
                border-radius: 5px;
                margin-top: 6px;
              }
            }
          }
          .statistics-explain {
            width: 100%;
            padding: 15px 0 15px 27px;
            background-color: #fffae7;
            span {
              color: red;
            }
          }
          .statistics-table {
            padding: 25px;
            .el-table {
              border: 1px solid #ddd;
            }
          }
          .statistics-closebtn {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            .close-btn {
              width: 104px;
              height: 40px;
              font-size: 15px;
              background-color: #fd8f00;
              color: #fff;
              border-radius: 5px;
              border: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
    //双击弹出 项目明细模态框
    .detail-dialog .el-dialog {
      position: relative;
      min-width: 756px;
      !*height: 772px;*!
      .el-dialog__body {
        padding: 0;
        font-size: 14px;
        .detail-box {
          display: flex;
          .detail-left {
            !*min-width: 238px;*!
            !*height: 732px;*!
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background-color: #e6e6e9;
            .detailleft-title {
              padding: 0 0 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid #d8d8d8;
              display: flex;
              justify-content: space-between;
              .wordinfo {
                margin-top: 15px;
              }
              .btn-edit {
                width: 84px;
                height: 34px;
                background-color: #6d9dcf;
                border-radius: 3px;
                opacity: 0.97;
                border: 0;
                color: #fff;
                margin-top: 8px;
                &::before {
                  margin-right: 5px;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
            .detailleft-center,
            .detailleft-bottom {
              !*padding: 10px 9px 0 14px;*!
              ul > li {
                margin-bottom: 15px;
                display: flex;
                >span {
                  color: #999;
                  width: 80px;
                }
              }
            }
            .detailleft-center {
              .wordproject {
                display: block;
                margin-top: 36px;
              }
              ul > li:nth-child(2) {
                display: flex;
                span {
                  width: 78px;
                }
              }
            }
          }
          .el-tabs--border-card {
            !*width: 532px;*!
            flex: 1;
            .el-tabs__item {
              border: 0;
              border-top: 2px solid transparent;
              &:focus {
                border-top: 2px solid #fda100;
              }
            }
            .el-tabs__header {
              border: 0;
              background: #e8e8ee;
            }
            // tab人员分配
            .allot-person {
              .btn-allot-person {
                width: 94px;
                height: 26px;
                margin-bottom: 10px;
                background-color: #fd8f00;
                color: #fff;
                border-radius: 3px;
                border: 0;
                &:focus {
                  outline: none;
                }
                &:hover {
                  cursor: pointer;
                }
              }
              .el-icon-sort::before {
                margin-right: 5px;
              }
              .el-table {
                border: 1px solid #ddd;
              }
            }
            // tab合同信息
            .contract-info {
              .contract-info-ul {
                padding-right: 30px;
                li {
                  display: flex;
                  margin: 15px 0;
                  div {
                    width: 120px;
                  }
                  span {
                    width: 120px;
                    display: flex;
                    justify-content: flex-end;
                    color: #999;
                  }
                }
              }
            }
            // tab 图库
            .img-store {
              .el-tabs__header {
                background: #fff;
              }
              .el-tabs__item {
                border: 0;
                border-top: 2px solid transparent;
              }
              .el-tabs__nav-wrap::after {
                background: #fff;
              }
            }
            // tab 操作日志
            .operate-log {
              .el-table {
                border: 1px solid #ddd;
              }
            }
          }
        }
      }
    }
  }*/

  
/* 户型图弹窗css start*/
.houseType-dialog {
  /deep/ .el-dialog__body {
    background: pink;
  }
}

/* 户型图弹窗css end*/
